<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
      .pink{
          color: rgb(247, 51, 198);
      }
      .btn-pink{
          background-color: rgb(247, 51, 198);
          color: rgb(247, 51, 198);
      }
      #dummy{
        display: none; 
        height: 0px;
        width: 0px;
      }
  </style>
    <title>MyUpdates</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"">
      <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="#">My<span style="color: rgba(248, 244, 4, 0.993);"  >UPDATES</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Updates
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item " href="./dcrust.html">DCRUST</a></li>
                <li><a class="dropdown-item" href="./dtu.html">DTU</a></li>
                <li><a class="dropdown-item" href="./gju.html">GJU</a></li>
                <li><a class="dropdown-item " href="./jcbose.html">JCBOSE</a></li>
                <li><a class="dropdown-item" href="./mdu.html">MDU</a></li>
                <li><a class="dropdown-item " href="./codechef.html">CODECHEF</a></li>
                <li><a class="dropdown-item " href="./codeforces.html">CODEFORCES</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto: gyanexplode@gmail.com">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="alert mt-7 "  id="infobox" style=" margin-bottom: 25px; position: relative;max-height:30vh; overflow:auto" role="alert">
      <%=heading%>
    </div>
    <p id="dummy"><%=colour%></p>
    
    <div class="d-grid gap-2 col-6 mx-auto mt-6">
      <a href="./dcrust.html" class="btn btn-info text-white" type="button">DCRUST University Updates</a>
      <a href="./dtu.html" class="btn btn-success text-white" type="button">DTU University Updates</a>
      <a href="./gju.html" class="btn btn-pink text-white" type="button">GJU University Updates</a>
        <a class="btn btn-danger" type="button" href="./jcbose.html">JCBOSE University Updates</a>
        <a href="./mdu.html" class="btn btn-secondary text-white" type="button">MDU University Updates</a>
      </div>
      
    <div class="d-grid gap-2 mt-5 col-6 mx-auto">
        <a class="btn btn-warning text-white" type="button" href="./codechef.html">Codechef Updates</a>
        <a href="./codeforces.html" class="btn btn-primary text-white" type="button">Codeforces Updates</a>
        <!-- <a href="/dtu" class="btn btn-success text-white" type="button">DTU University Updates</a> -->
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script>
      const setHead =function(){
        const infobox=document.getElementById('infobox');
        const dummy=document.getElementById('dummy');
        const colour=dummy.innerText.toString();
        const val=infobox.innerText;
        infobox.innerHTML= `${val}`;
        infobox.style.backgroundColor=`${colour}`;
      }
      setHead();
    </script>
  </body>
</html>